* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 1.5em 0;
        background-color: #295EDE;
        color: #FFF;
    }

        #navbar-title {
            padding-left: 1.5em;
            font-size: 2.5rem;
            font-weight: 600;
        }

        .navbar > ul {
            display: flex;
            gap: 0.5em;
            padding-right: 1.5em;
            list-style: none;
            font-size: 2rem;
            font-weight: 600;
        }

    .section-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3em;
        background-color: #013EBE;
        color: #FFF;
    }

        .section-main-left {
            display: flex;
            flex-flow: column wrap;
            gap: 1em;
            align-items: center;
            text-align: center;
        }

            .section-main-left > h1 {
                font-size: 4.5rem;
                font-weight: 800;
            }

            .section-main-left > p {font-size: 2rem;}

    .section-details {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        flex: 1;
        gap: 2em;
        padding: 3em;
        background-color: #98BBFF;
        /* border: 1px solid black; */
    }

        .section-details-card {
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            padding: 3em 3em;
            background-color: #0D47C5;
            border-radius: 1em;
            box-shadow: 0 0.2em 0.5em #000;
            color: #FFF;
        }

            .section-details-card  > h2 {
                font-size: 2.5rem;
                font-weight: 600;
                /* border: 1px solid black; */
            }

            .section-details-card > p {
                font-size: 1.8rem;
            }

@media screen and (min-width: 769px) {

    .section-main {
        flex-direction: row;
        justify-content: center;
    }

    .section-details {
        justify-content: center;
        flex-wrap: nowrap;
    }

        .section-details-card {
            flex-basis: 40em;
            max-height: 25em;
        }
}